<?xml version="1.0" encoding="UTF-8"?>
<configuration>

   <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd} %d{HH:mm:ss} %.-1level %thread %logger{36}: %m%n</pattern>
    </encoder>
  </appender>

  <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>logs/application.log</File>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>TRACE</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>application.%d{yyyy-MM-dd}.log</FileNamePattern>
      <MaxHistory>90</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd} %d{HH:mm:ss} %.-1level %thread %logger{36}: %m%n</pattern>
    </encoder>
  </appender>

  <appender name="ERRORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>logs/event.log</File>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>event.%d{yyyy-MM-dd}.log</FileNamePattern>
      <MaxHistory>90</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd} %d{HH:mm:ss} %.-1level %thread %logger{36}: %m%n</pattern>
    </encoder>
  </appender>


  <!-- The root logger goes to the standard application log and the error log -->
  <root level="info">
    <appender-ref ref="APPLICATION" />
    <appender-ref ref="ERRORS" />
  </root>
 
</configuration>
